.feauters{
    padding: 3rem 7%;
    .box{
        min-height: 70vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        .image{
            flex: 1 1 42rem;
            img{
                width: 85%;
            }
        }
        .content{
            flex: 1 1 42rem;
            h2{
                font-size: 4rem;
                font-weight: 700;
                color: $black;
                span{
                    text-decoration: underline $blue;
                }
            }
            p{
                line-height: -22px;
                letter-spacing: 0rem;
                font-size: 2rem;
                font-weight: 600;
                color: $black;
            }
        }
    }
}